.bg-color:hover{
    background-color: rgb(247, 64, 94);
    color: #fff;
    border-radius: 10px;
}
.bg-menu{
    padding: .5rem;
}

.g-flex{
    padding-top: 1.25rem;
    margin-bottom: 1.25rem;
    padding-left: 20px;
    
   
    
}
/* md:flex md:items-center flex flex-row flex-wrap pt-5 md:justify-betwee justify-between mx-10 */