<app-header></app-header>

<div class="row-auto md:overflow-hidden">
    <div class="w-full max-w space-y-8 bg-stone-700 align-middle ">
        <div class="text-white text-base font-semibold align-middle py-5 ml-28">เกี่ยวกับเรา</div>
    </div>
    <div class=" flex justify-center  ml-5  w-full  my-5 ">
        <div>
            <img src=".\assets\logo1.png" alt="">
        </div>
        <div class="col-auto mx-5">
            <div class="text-[#F32F12] font-semibold">
                ประวัติความเป็นมาของ SENd แอปพลิเคชันนี้ได้ก่อตั้งขึ้นในประเทศไทย
                โดยมีจุดเริ่มต้นจากความตั้งใจที่จะเปลี่ยนแปลงวิธีการซักผ้าทั่วไปให้กลายเป็นบริการที่ทันสมัย
                ตอบสนองความต้องการของทั้งชาวไทยและผู้ที่มาจากทั่วโลก ในปัจจุบัน SENd
                ได้กลายเป็นส่วนหนึ่งของวิถีชีวิต และได้ช่วยเพิ่มความสะดวกในการดำเนินชีวิตประจำวันให้
                กับผู้คนในสังคมไทยอย่างแท้จริง
            </div>
            <div class="mt-5 text-[#F32F12] font-semibold">

                SENd "เพิ่มเวลาความสุข ให้คุณมากขึ้น " ไม่เพียงแค่สะท้อนถึงการให้บริการที่เป็นเลิศเท่านั้น
                แต่ยังสะท้อนถึงการรักษาวัฒนธรรมไทย
                และการต้อนรับผู้คนจากทุกสารทิศที่มายังแดนสยาม
                ด้วยการบริการที่อบอุ่นและเป็นมิตร ทำให้ทุกคนที่ใช้ SENd
                รู้สึกถึงความสะดวกสบายและความเอื้ออารีจากชาวไทย
            </div>
            <div class="mt-5 text-[#F32F12] font-semibold">

                โดยมุ่งมั่นเชื่อมต่อร้านสะดวกซักกับลูกค้าในประเทศผ่านระบบที่ใช้งานง่ายและสะดวก
                ซึ่งไม่เพียงแต่เป็นประโยชน์ต่อการดำเนินชีวิตชาวไทยเท่านั้น
                แต่ยังรวมถึงนักท่องเที่ยวต่างชาติที่มาเยือนและต้องการบริการซักผ้าที่เชื่อถือได้
                ด้วยความสะดวกในการใช้บริการรับส่งเสื้อผ้า ทำให้ SENd
                กลายเป็นที่นิยมอย่างรวดเร็วในหมู่ผู้ใช้บริการทั้งหลาย
            </div>

        </div>
    </div>


    <div class="w-full max-w bg-red-600">
        <div class="text-white text-base font-semibold align-middle py-5 ml-28">ดาวน์โหลดแอป</div>

    </div>
    <div class="container mx-5 my-3 py-5 ml-28 text-[#F32F12] font-bold text-3xl ">
        สะดวกซักที่ให้บริการ
    </div>
    <div class="flex justify-around items-stretch mx-10 my-5">
        <div class="row-start-2 row-span-2 hover:scale-105 transition-all duration-500 cursor-pointer">
            <img src=".\assets\Mask group.png" alt="">
        </div>
        <div class="row-start-2 row-span-2 hover:scale-105 transition-all duration-500 cursor-pointer">
            <img src=".\assets\Group 93.png" alt="">
        </div>
        <div class="row-start-2 row-span-2 hover:scale-105 transition-all duration-500 cursor-pointer">
            <img src=".\assets\Group 94.png" alt="">
        </div>
    </div><br><br>
    <div class="mx-auto flex w-full max-w bg-[#F6F2F2] justify-center mt-8">
        <div class="flex content-center mx-5 mt-2 align-middle">
            <div class="col-6 text-center h-56 max-w content-center">
                <div class=" text-[#F32F12] font-bold text-3xl">เริ่มต้นคำนวณน้ำหนัก</div>
                <div class=" text-[#F32F12] font-medium text-2xl mt-2">เพื่อหาเครื่องซักผ้าที่เหมาะกับคุณ</div>

                <button class="rounded-full bg-[#F32F12] mt-3" >
                    <div class="text-white text-sm p-3">คำนวณ</div>
                </button>
                
            </div>
        </div>
        <div class="col-6 cal-bg">

        </div>
    </div><br><br>
    <div class="flex mt-5">
        <div>
            <img class="object-cover hover:scale-105 transition-all duration-500 cursor-pointer"
                src=".\assets\Phone-06 1.png" alt="">
        </div>
        <div class="col-auto md:justify-center md:flex-col md:items-center">
            <div class="text-[#F32F12] font-semibold text-3xl">SENd รวมความสะดวก ไว้ในที่เดียว</div>
            <div class="flex items-stretch mt-5 space-x-8">
                <button
                    class="rounded-full bg-[#0080A9] w-32 hover:scale-105 transition-all duration-500 cursor-pointer">
                    <div class="text-white text-sm p-3 ">ร้านค้า</div>
                </button>
                <button
                    class="rounded-full bg-[#0080A9] w-32 hover:scale-105 transition-all duration-500 cursor-pointer">
                    <div class="text-white text-sm p-3">ร้านสะดวกซัก</div>
                </button>
                <button
                    class="rounded-full bg-[#0080A9] w-32 hover:scale-105 transition-all duration-500 cursor-pointer">
                    <div class="text-white text-sm p-3">ส่งสินค้า</div>
                </button>
                <button
                    class="rounded-full bg-[#0080A9] w-32 hover:scale-105 transition-all duration-500 cursor-pointer">
                    <div class="text-white text-sm p-3">ไรเดอร์</div>
                </button>
            </div>
            <div class="flex items-center mt-5 space-x-8">
                <div>
                    <img class="hover:scale-105 transition-all duration-500 cursor-pointer"
                        src=".\assets\Mask group (2).png" alt="">
                </div>
                <div>
                    <div class="text-[#606060] font-semibold text-3xl">SENd เพื่อสร้างชุมชนที่ยั่งยืน</div>
                    <div class="mt-4 text-[#606060]">“Send สะดวกส่ง” เป็นแอปพลิเคชันที่เป็นเพื่อนสั่งของคุณใน
                        ชุมชน <br> ที่ทำให้คุณสามารถสั่งสินค้าจากร้านค้าในพื้นที่ของคุณ
                        ได้อย่างง่ายดาย มั่นใจ  และรวดเร็ว เราคือคนในชุมชนที่คุณ
                        สามารถไว้ใจและเราอยู่ที่นี่เพื่อคุณ รวมถึงการสนับสนุ</div>
                </div>
            </div>
        </div>
    </div>
    <div class="mx-5 my-3 py-5 ml-28 text-[#F32F12] font-semibold text-3xl">
        กระดานข่าว
    </div>
    <div class="flex items-center justify-evenly  mt-5 space-x-8">
        <div class="row-auto  w-1/4 m-5 ">
            <div class="bg-slate-400 mx-auto  h-60"></div>
            <div class="mt-3">Date</div>
            <div class="mx-auto mt-2">การสร้างความหลากหลายของสินค้าและร้านค้าที่ให้บริการบนฯ
                แพลตฟอร์มถือเป็นหนึ่งในกลยุทธ์สำคัญของบริการ SENd</div>
            <div class="mt-4 text-[#F32F12] font-semibold text-base">อ่านเพิ่มเติม</div>
        </div>
        <div class="row-auto  w-1/4 m-5 ">
            <div class="bg-slate-400 mx-auto  h-60"></div>
            <div class="mt-3">Date</div>
            <div class="mx-auto mt-2">การสร้างความหลากหลายของสินค้าและร้านค้าที่ให้บริการบนฯ
                แพลตฟอร์มถือเป็นหนึ่งในกลยุทธ์สำคัญของบริการ SENd</div>
            <div class="mt-4 text-[#F32F12] font-semibold text-base">อ่านเพิ่มเติม</div>
        </div>
        <div class="row-auto  w-1/4 m-5 ">
            <div class="bg-slate-400 mx-auto  h-60"></div>
            <div class="mt-3">Date</div>
            <div class="mx-auto mt-2">การสร้างความหลากหลายของสินค้าและร้านค้าที่ให้บริการบนฯ
                แพลตฟอร์มถือเป็นหนึ่งในกลยุทธ์สำคัญของบริการ SENd</div>
            <div class="mt-4 text-[#F32F12] font-semibold text-base">อ่านเพิ่มเติม</div>
        </div>
    </div>
    <div class=" mt-5 mx-5 my-3 py-5 ml-28 text-[#F32F12] font-semibold text-3xl">
        โปรโมชั่น
    </div>
    <div class="flex items-center justify-evenly  mt-5 space-x-8">
        <div class="row-auto w-1/2  ">
            <div class="bg-slate-400 mx-auto   h-60">
                Add Picture
            </div>
        </div>
        <div class="row-auto w-1/5">
            <div class="bg-slate-400 mx-auto  h-28">Add Picture</div>
            <div class="bg-slate-400 mx-auto  h-28">Add Picture</div>
        </div>
    </div>
</div>

<app-footer></app-footer>