<app-header></app-header>
<br>
<div class="mx-5 mt-10 md:mt-20 py-5 ml-28 text-[#F32F12] font-semibold text-3xl">
    กระดานข่าว
</div>
<div class="flex flex-col  ">
    <div class="flex flex-col md:flex-row items-center justify-evenly mt-5 mb-5">
        <div class="row-auto mx-5 ">
            <div class="bg-slate-400 mx-autoh-60 h-60"></div>
            <div class="mt-3">Date</div>
            <div class="mx-auto mt-2">การสร้างความหลากหลายของสินค้าและร้านค้าที่ให้บริการบนฯ
                แพลตฟอร์มถือเป็นหนึ่งในกลยุทธ์สำคัญของบริการ SENd</div>
            <div class="mt-4 text-[#F32F12] font-semibold text-base">อ่านเพิ่มเติม</div>
        </div>
        <div class="row-auto mx-5 ">
            <div class="bg-slate-400 mx-autoh-60 h-60"></div>
            <div class="mt-3">Date</div>
            <div class="mx-auto mt-2">การสร้างความหลากหลายของสินค้าและร้านค้าที่ให้บริการบนฯ
                แพลตฟอร์มถือเป็นหนึ่งในกลยุทธ์สำคัญของบริการ SENd</div>
            <div class="mt-4 text-[#F32F12] font-semibold text-base">อ่านเพิ่มเติม</div>
        </div>
        <div class="row-auto mx-5 ">
            <div class="bg-slate-400 mx-autoh-60 h-60"></div>
            <div class="mt-3">Date</div>
            <div class="mx-auto mt-2">การสร้างความหลากหลายของสินค้าและร้านค้าที่ให้บริการบนฯ
                แพลตฟอร์มถือเป็นหนึ่งในกลยุทธ์สำคัญของบริการ SENd</div>
            <div class="mt-4 text-[#F32F12] font-semibold text-base">อ่านเพิ่มเติม</div>
        </div>
       
    </div>
    <div class="flex flex-col md:flex-row items-center justify-evenly mt-5 mb-5">
        <div class="row-auto mx-5 ">
            <div class="bg-slate-400 mx-autoh-60 h-60"></div>
            <div class="mt-3">Date</div>
            <div class="mx-auto mt-2">การสร้างความหลากหลายของสินค้าและร้านค้าที่ให้บริการบนฯ
                แพลตฟอร์มถือเป็นหนึ่งในกลยุทธ์สำคัญของบริการ SENd</div>
            <div class="mt-4 text-[#F32F12] font-semibold text-base">อ่านเพิ่มเติม</div>
        </div>
        <div class="row-auto mx-5 ">
            <div class="bg-slate-400 mx-autoh-60 h-60"></div>
            <div class="mt-3">Date</div>
            <div class="mx-auto mt-2">การสร้างความหลากหลายของสินค้าและร้านค้าที่ให้บริการบนฯ
                แพลตฟอร์มถือเป็นหนึ่งในกลยุทธ์สำคัญของบริการ SENd</div>
            <div class="mt-4 text-[#F32F12] font-semibold text-base">อ่านเพิ่มเติม</div>
        </div>
        <div class="row-auto mx-5 ">
            <div class="bg-slate-400 mx-autoh-60 h-60"></div>
            <div class="mt-3">Date</div>
            <div class="mx-auto mt-2">การสร้างความหลากหลายของสินค้าและร้านค้าที่ให้บริการบนฯ
                แพลตฟอร์มถือเป็นหนึ่งในกลยุทธ์สำคัญของบริการ SENd</div>
            <div class="mt-4 text-[#F32F12] font-semibold text-base">อ่านเพิ่มเติม</div>
        </div>
       
    </div>
    <div class="flex flex-col md:flex-row items-center justify-evenly mt-5 mb-5">
        <div class="row-auto mx-5 ">
            <div class="bg-slate-400 mx-autoh-60 h-60"></div>
            <div class="mt-3">Date</div>
            <div class="mx-auto mt-2">การสร้างความหลากหลายของสินค้าและร้านค้าที่ให้บริการบนฯ
                แพลตฟอร์มถือเป็นหนึ่งในกลยุทธ์สำคัญของบริการ SENd</div>
            <div class="mt-4 text-[#F32F12] font-semibold text-base">อ่านเพิ่มเติม</div>
        </div>
        <div class="row-auto mx-5 ">
            <div class="bg-slate-400 mx-autoh-60 h-60"></div>
            <div class="mt-3">Date</div>
            <div class="mx-auto mt-2">การสร้างความหลากหลายของสินค้าและร้านค้าที่ให้บริการบนฯ
                แพลตฟอร์มถือเป็นหนึ่งในกลยุทธ์สำคัญของบริการ SENd</div>
            <div class="mt-4 text-[#F32F12] font-semibold text-base">อ่านเพิ่มเติม</div>
        </div>
        <div class="row-auto mx-5 ">
            <div class="bg-slate-400 mx-autoh-60 h-60"></div>
            <div class="mt-3">Date</div>
            <div class="mx-auto mt-2">การสร้างความหลากหลายของสินค้าและร้านค้าที่ให้บริการบนฯ
                แพลตฟอร์มถือเป็นหนึ่งในกลยุทธ์สำคัญของบริการ SENd</div>
            <div class="mt-4 text-[#F32F12] font-semibold text-base">อ่านเพิ่มเติม</div>
        </div>
       
    </div>
    
    
</div>
<app-footer></app-footer>
