<app-header></app-header>
<div class="flex flex-col">
    <div class="flex-col">
        <div class=" text-[#F32F12] font-semibold text-3xl mt-20 md:0">
            <div class="mx-5 mt-10 md:mt-20 py-5 md:ml-28">
                กระดานข่าว
            </div>
        </div>
    <div class="flex flex-row justify-center mx-10 md:0">
        <img class="md:w-1/4  my-10 rounded-2xl" src=".\assets\รูปภาพ3.png" alt="">
    </div>
    <div class="flex flex-col  mx-10">
        <h3 class="text-[#FFFFFFF] font-semibold text-2xl my-6">เลือกไทยที่แรกของโลก เปิดตัวธุรกิจมาแรง ร้านสะดวกซัก พร้อมขายแฟรนไชส์</h3>
        <h3 class="text-[#FFFFFFF] font-semibold text-lg ">ชูจุดแข็งแบรนด์ดัง เครื่องซักผ้าทนทาน ประหยัดไฟ พร้อมบริการหลังการขายครบครัน</h3>
        <h3 class="text-[#FFFFFFF] font-semibold text-lg">บริษัท แอลจี อีเลคทรอนิคส์ (ประเทศไทย) จำกัด เดินหน้าขยายธุรกิจ เปิดตัวแฟรนไชส์ร้านสะดวกซักครั้งแรกภายใต้ชื่อ "LG Laundry Crew" มุ่งเจาะตลาดไทยที่กำลังเติบโต ภายใต้ชื่อ “LG Laundry Crew” พร้อมเปิดให้บริการแล้ววันนี้ ที่สาขารามคำแหง ซอย 8</h3>
        <h3 class="text-[#FFFFFFF] font-semibold text-lg my-2">อำนาจ สิงหจันทร์ หัวหน้าฝ่ายการตลาด บริษัท แอลจี อีเลคทรอนิคส์ (ประเทศไทย) จำกัด กล่าวว่า:</h3>
        <h3 class="text-[#FFFFFFF] font-semibold text-lg my-2">“ธุรกิจร้านสะดวกซักในประเทศไทยกำลังอยู่ในช่วงขาขึ้น และยังมีโอกาสในการเติบโตอยู่มาก แอลจีเองมองเห็นโอกาสตรงนี้ ประกอบกับที่ผ่านมาแอลจีมีสัดส่วนตลาดเครื่องซักผ้าเป็นอันดับหนึ่งในประเทศไทยมาตลอด 35 ปี แอลจีจึงตัดสินใจเปิดตัว LG Laundry Crew ร้านสะดวกซักที่ใช้โมเดลธุรกิจใหม่ที่ประเทศไทยเป็นที่แรก และนอกจากจะเป็นแบรนด์ที่ผู้บริโภคไว้วางใจมาอย่างยาวนานแล้วนั้น แอลจียังเป็นแบรนด์เดียวในตลาดประเทศไทยที่มีผลิตภัณฑ์กลุ่มเครื่องซักผ้า-อบผ้าเชิงพาณิชย์ซึ่งมีขนาดความจุที่พอดี ทำให้ผู้ประกอบการไม่ต้องซื้อเครื่องขนาดใหญ่เกินจำเป็นจึงเป็นการช่วยลดต้นทุนได้ในอีกทางหนึ่ง ซึ่งเชื่อว่าจะสามารถตอบโจทย์ในสิ่งที่ผู้ประกอบการกำลังมองหาได้อย่างแน่นอน และแผนการเปิดสาขาเพิ่มในอนาคตแอลจีระบุว่ามีการพูดคุยกับผู้ลงทุนหลายสิบเจ้า และมีแผนขายเครื่องซักพาณิชย์ให้กับร้านสะดวกซักเจ้าอื่นเพิ่มขึ้น”</h3>
        <h3 class="text-[#FFFFFFF] font-semibold text-lg my-2">วรจรรย์ เที่ยงธรรม เจ้าของร้าน LG Laundry Crew คนแรกของประเทศไทยและของโลก ได้กล่าวถึงความร่วมมือกับแอลจี ประเทศไทย ในครั้งนี้ว่า “สำหรับการเตรียมตัวเปิดร้าน แอลจีได้เตรียมบริการต่างๆ เพื่อช่วยให้การเปิดร้านเป็นไปอย่างราบรื่น ทั้งในด้านการดีไซน์ตัวร้าน และการลงสำรวจพื้นที่ให้โดยไม่มีค่าใช้จ่าย </h3>
        <h3 class="text-[#FFFFFFF] font-semibold text-lg my-2">โดยหลังจากตกลงซื้อแฟรนไชส์เปิดร้านกับแอลจี ยังมีบริการหลังการขายอื่นๆ ตามมาอีกด้วย เช่น การส่งช่างมาดูแลเครื่องซักผ้า-อบผ้าทุกเดือนเป็นเวลา 2 ปี โดยไม่มีค่าใช้จ่าย ทั้งยังมีบริการล้างถังซักฟรีปีละสองครั้ง ทำให้ผ้าของผู้ที่มาใช้งานที่ร้านสะอาดและไม่มีกลิ่นไม่พึงประสงค์</h3>
        <h3 class="text-[#FFFFFFF] font-semibold text-lg my-2">ที่มาใช้งานที่ร้านสะอาดและไม่มีกลิ่นไม่พึงประสงค์
            ในส่วนของราคาแฟรนไชส์ร้านสะดวกซักจะเริ่มต้นที่ประมาณ 1.5 ล้านบาทสำหรับร้านไซส์ S ขณะที่ร้านไซส์ M-L จะมีราคาอยู่ที่ 2-2.5 ล้านบาท พร้อมโมเดลปัจจุบันที่ไม่ต้องแบ่งรายได้ให้กับแอลจี ซึ่งแอลจีจะทำเงินได้จากการขายเครื่องซักและอบและได้ประโยชน์ในมุมของ Branding
            </h3>
        <h3 class="text-[#FFFFFFF] font-semibold text-2xl my-5">ที่มา : Thairat Money</h3>
    
    
    
    </div>

</div>


  
<app-footer></app-footer>
