<app-header></app-header>

    <div class="container-fluid z-0 overflow-hidden">
        <img src=".\assets\logoregister.PNG" alt="talian Trulli" srcset=""
            class="w-full bg-cover bg-center mt-12 hover:scale-105 transition-all duration-500 cursor-pointer z-0 overflow-y-hidden">
    </div>

<div class="w-full max-w md:flex-col">
    <div class="flex flex-row-reverse">
        <button
            class="flex items-center justify-center w-full md:w-5/12 h-9 mx-10 md:mx0 md:mr-24 bg-[#00BA00] hover:bg-[#00BAAA] text-white font-bold py-8 px-4 border  rounded-2xl">
            <a class=" py-2 px-4 block whitespace-no-wrap hover:text-blue-600" href="/registerForm">สมัครเลย</a>
        </button>
    </div>


    <div class="flex justify-end">
        <div
            class="flex flex-col justify-center items-center text-center p-5 mx-10 md:mx-0 md:mr-24 m-5  md:w-5/12 bg-[#D9D9D9] border  rounded-2xl">
            <div class="font-semibold text-xl">
                นโยบายความเป็นส่วนตัวสำหรับลูกค้า
            </div>
            <div class="font-semibold text-lg mt-2">
                บริษัท เซนด์ เดลิเวอรี่
            </div>
            <div class="font-medium text-sm mt-2">
                ให้ความสำคัญกับการคุ้มครองข้อมูลส่วนบุคคลของคุณ
                โดยนโยบายความเป็นส่วนตัวฉบับน้ีได้อธิบายแนวปฏิบัติเกี่ยวกับการเก็บรวบรวมใช้
                หรือเปิดเผยข้อมูลส่วนบุคคล รวมถึงสิทธิต่าง ๆ
                ของเจ้าของข้อมูลส่วนบุคคล ตามกฎหมาย
                คุ้มครองข้อมูลส่วนบุคคล
            </div>

        </div>
    </div>
    <div class="flex justify-end flex-row mx-10 md:mx-0 md:mr-28">
        <div class="flex flex-col md:flex-row justify-between w-full md:w-5/12 md:gap-8">
            <button
                class="flex items-center md:w-full justify-center h-9 mb-5 md:mb-0 bg-[#ED4C29] hover:bg-[#00BAAA] text-white font-bold py-8 px-4 border  rounded-2xl">
                ดาว์โหลดนโยบาย (TH)
            </button>
            <button
                class="flex items-center md:w-full justify-center h-9  bg-[#ED4C29] hover:bg-[#00BAAA] text-white font-bold py-8 px-4 border  rounded-2xl">
                Download Policy (EN)
            </button>
        </div>
    </div>
    <div class="container-fluid z-0 overflow-hidden mt-10 mx-10 mb-10 ">
        <img src=".\assets\Group 91 (1).png" alt="talian Trulli" srcset=""
            class="mx-10 w-full bg-cover bg-center hover:scale-105 transition-all duration-500 cursor-pointer z-0 overflow-y-hidden">
    </div>
    <!-- For Faq -->
    <div
        class="relative w-full bg-white px-6 pt-10 pb-8 mt-8 mb-5 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-2xl sm:rounded-lg sm:px-10">
        <div class="mx-auto px-5">
            <div class="flex flex-col items-center">
                <h2 class="mt-5 text-center text-3xl font-bold tracking-tight md:text-5xl">FAQ</h2>
              
            </div>
            <div class="mx-auto mt-8 grid max-w-xl divide-y divide-neutral-200">
                <div class="py-5">
                    <details class="group">
                        <summary class="flex cursor-pointer list-none items-center justify-between font-medium">
                            <span> อายุเท่าไหร่ถึงขับ SENd ได้? </span>
                            <span class="transition group-open:rotate-180">
                                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                    viewBox="0 0 24 24" width="24">
                                    <path d="M6 9l6 6 6-6"></path>
                                </svg>
                            </span>
                        </summary>
                        <p class="group-open:animate-fadeIn mt-3 text-neutral-600">
                            มอเตอร์ไซค์ : 18 ปีบริบูรณ์
                            <br>
                            รถยนต์ : 22 ปีบริบูรณ์
                        </p>
                    </details>
                </div>
                <div class="py-5">
                    <details class="group">
                        <summary class="flex cursor-pointer list-none items-center justify-between font-medium">
                            <span> เป็นพาร์ทเนอร์กับ SENd มีประกันให้หรือไม่?</span>
                            <span class="transition group-open:rotate-180">
                                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                    viewBox="0 0 24 24" width="24">
                                    <path d="M6 9l6 6 6-6"></path>
                                </svg>
                            </span>
                        </summary>
                        <p class="group-open:animate-fadeIn mt-3 text-neutral-600">พาร์ทเนอร์Sendทุกคนมีประกันอุบัติเหตุ
                            ครอบคลุมสูงสุด 150,000 บาท หากเกิดอุบัติเหตุระหว่างรับงาน
                            สามารถติดต่อคอลล์เซ็นเตอร์ของSendได้ตลอด 24 ช.ม.
                        </p>
                    </details>
                </div>
                <div class="py-5">
                    <details class="group">
                        <summary class="flex cursor-pointer list-none items-center justify-between font-medium">
                            <span> ทำไมพาร์ทเนอร์ถึงต้องเติมเครดิต และควรเติมเท่าไหร่? </span>
                            <span class="transition group-open:rotate-180">
                                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                    viewBox="0 0 24 24" width="24">
                                    <path d="M6 9l6 6 6-6"></path>
                                </svg>
                            </span>
                        </summary>
                        <p class="group-open:animate-fadeIn mt-3 text-neutral-600">
                            เนื่องจากบริษัทมีค่าธรรมเนียมการใช้บริการแอปพลิเคชัน
                            โดยหักจากกระเป๋าเครดิตรับงานทุกครั้งที่คุณกดรับงาน ซึ่งส่งผลให้ระบบจะจ่ายงานให้กับพาร์ทเนอร์
                            ที่มียอดเครดิตเพียงพอกับการคิดค่าธรรมเนียมการใช้บริการเท่านั้น ยกตัวอย่างเช่น
                            หากพาร์ทเนอร์มียอดเครดิตรับงานเพียง 50 บาท
                            พาร์ทเนอร์จะไม่เห็นงานราคา 300 บาท ที่คิดค่าธรรมเนียม 75 บาทค่ะ
                            เพราะฉะนั้นพาร์ทเนอร์ควรเติมเครดิตให้ครอบคลุมกับค่าธรรมเนียมที่จะเกิดขึ้น
                        </p>
                    </details>
                </div>

            </div>
        </div>
    </div>

</div>

<app-footer></app-footer>