<app-header></app-header>
<br>
@if(policyTxt == "TH"){
    <div class="flex flex-col w-full">
        <div class="flex flex-col mx-10 mt-20">
            <h3 class="text-[#FFFFFFF] font-semibold text-2xl my-6">นโยบายความเป็นส่วนตัวสำหรับลูกค้า</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-lg">บริษัท เซนด์ เดลิเวรี่ ให้ความสำคัญกับการคุ้มครองข้อมูลส่วนบุคคลของคุณ โดยนโยบายความเป็นส่วนตัวฉบับนี้ได้อธิบายแนว
                ปฏิบัติเกี่ยวกับการเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคล รวมถึงสิทธิต่าง ๆ ของเจ้าของข้อมูลส่วนบุคคล ตามกฎหมาย
                คุ้มครองข้อมูลส่วนบุคคล</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-2xl my-6">การเก็บรวบรวมข้อมูลส่วนบุคคล</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-lg">เราจะเก็บรวบรวมข้อมูลส่วนบุคคลที่ได้รับโดยตรงจากคุณผ่านช่องทาง ดังต่อไปนี้</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">ㆍ การสมัครสมาชิก</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">ㆍ โทรศัพท์</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">ㆍ อีเมล</h3>
            <h3 class="text-[#FFFFFFF] font-semibold  text-2xl my-6"> ประเภทข้อมูลส่วนบุคคลที่เก็บรวบรวม</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">ข้อมูลส่วนบุคคล เช่น ชื่อ นามสกุล อายุ วันเดือนปีเกิด สัญชาติ เลขประจำตัวประชาชน หนังสือเดินทาง เป็นต้น</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">ข้อมูลการติดต่อ เช่น ที่อยู่ หมายเลขโทรศัพท์ อีเมล เป็นต้น</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">ข้อมูลบัญชี เช่น บัญชีผู้ใช้งาน ประวัติการใช้งาน เป็นต้น</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">หลักฐานแสดงตัวตน เช่น สำเนาบัตรประจำตัวประชาชน สำเนาหนังสือเดินทาง เป็นต้น</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">ข้อมูลการทำธุรกรรมและการเงิน เช่น ประวัติการสั่งซื้อ รายละเอียดบัตรเครดิต บัญชีธนาคาร เป็นต้น</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">ข้อมูลทางเทคนิค เช่น IP address, Cookie ID, ประวัติการใช้งานเว็บไซต์ (Activity Log) เป็นต้น</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">ข้อมูลอื่น ๆ เช่น รูปภาพ ภาพเคลื่อนไหว และข้อมูลอื่นใดที่ถือว่าเป็นข้อมูลส่วนบุคคลตามกฎหมายคุ้มครองข้อมูลส่วนบุคคล</h3>
            <h3 class="text-[#FFFFFFF] font-semibold  text-2xl my-6"> ผู้เยาว์</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">หากคุณมีอายุต่ำกว่า 20 ปีหรือมีข้อจำกัดความสามารถตามกฎหมาย เราอาจเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคลของคุณ
                เราอาจจำเป็นต้องให้พ่อแม่หรือผู้ปกครองของคุณให้ความยินยอมหรือที่กฎหมายอนุญาตให้ทำได้ หากเราทราบว่ามีการเก็บ
                รวบรวมข้อมูลส่วนบุคคลจากผู้เยาว์โดยไม่ได้รับความยินยอมจากพ่อแม่หรือผู้ปกครอง เราจะดำเนินการลบข้อมูลนั้นออกจาก
                เซิร์ฟเวอร์ของเรา</h3>
            <h3 class="text-[#FFFFFFF] font-semibold  text-2xl my-6">วิธีการเก็บรักษาข้อมูลส่วนบุคคล</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">เราจะเก็บรักษาข้อมูลส่วนบุคคลของคุณในรูปแบบเอกสารและรูปแบบอิเล็กทรอนิกส์</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">เราเก็บรักษาข้อมูลส่วนบุคคลของคุณ ดังต่อไปนี้</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">ㆍ ผู้ให้บริการเซิร์ฟเวอร์ในต่างประเทศ</h3>
            <h3 class="text-[#FFFFFFF] font-semibold  text-2xl my-6">การประมวลผลข้อมูลส่วนบุคคล</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">เราจะเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคลของคุณเพื่อวัตถุประสงค์ดังต่อไปนี้</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">ㆍเพื่อสร้างและจัดการบัญชีผู้ใช้งาน</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">ㆍเพื่อจัดส่งสินค้าหรือบริการ</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">ㆍเพื่อปรับปรุงสินค้า บริการ หรือประสบการณ์การใช้งาน</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">ㆍเพื่อการบริหารจัดการภายในบริษัท</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">ㆍเพื่อการตลาดและการส่งเสริมการขาย</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">ㆍเพื่อการบริการหลังการขาย</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">ㆍเพื่อรวบรวมข้อเสนอแนะ</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">ㆍเพื่อชำระค่าสินค้าหรือบริการ</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">ㆍเพื่อปฏิบัติตามข้อตกลงและเงื่อนไข (Terms and Conditions)</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">ㆍเพื่อปฏิบัติตามกฎหมายและกฎระเบียบของหน่วยงานราชการ</h3>
            <h3 class="text-[#FFFFFFF] font-semibold  text-2xl my-6">การเปิดเผยข้อมูลส่วนบุคคล</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">เราอาจเปิดเผยข้อมูลส่วนบุคคลของคุณให้แก่ผู้อื่นภายใต้ความยินยอมของคุณหรือที่กฎหมายอนุญาตให้เปิดเผยได้ ดังต่อไปนี้</h3>
            <h3 class="text-[#FFFFFFF] font-semibold  text-2xl my-6">ผู้ให้บริการ</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">เราอาจเปิดเผยข้อมูลส่วนบุคคลของคุณบางอย่างให้กับผู้ให้บริการของเราเท่าที่จำเป็นเพื่อดำเนินงานในด้านต่าง ๆ เช่น การชำระ
                เงิน การตลาด การพัฒนาสินค้าหรือบริการ เป็นต้น ทั้งนี้ ผู้ให้บริการมีนโยบายความเป็นส่วนตัวของตนเอง</h3>
            <h3 class="text-[#FFFFFFF] font-semibold  text-2xl my-6">ระยะเวลาจัดเก็บข้อมูลส่วนบุคคล</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">เราจะเก็บรักษาข้อมูลส่วนบุคคลของคุณไว้ตามระยะเวลาที่จำป็นในระหว่างที่คุณป็นลูกค้าหรือมีความสัมพันธ์อยู่กับเราหรือ
                ตลอดระยะเวลาที่จำเป็นเพื่อให้บรรลุวัตถุประสงค์ที่เกี่ยวข้องกับนโยบายฉบับนี้ ซึ่งอาจจำเป็นต้องเก็บรักษาไว้ต่อไปภายหลังจาก
                น หากมีกฎหมายกำหนดไว้ เราจะลบ ทำลาย หรือทำให้เป็นข้อมูลที่ไม่สามารถระบุตัวตนของคุณได้ เมื่อหมดความจำเป็นหรือ
                สิ้นสุดระยะเวลาดังกล่าว</h3>
            <h3 class="text-[#FFFFFFF] font-semibold  text-2xl my-6">สิทธิของเจ้าของข้อมูลส่วนบุคคล</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">ภายใต้กฎหมายคุ้มครองข้อมูลส่วนบุคคล คุณมีสิทธิในการดำเนินการดังต่อไปนี้</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-4">สิทธิขอถอนความยินยอม (right to withdraw consent) หากคุณได้ให้ความยินยอม เราจะเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูล
                ส่วนบุคคลของคุณ ไม่ว่าจะเป็นความยินยอมที่คุณให้ไว้ก่อนวันที่กฎหมายคุ้มครองข้อมูลส่วนบุคคลใช้บังคับหรือหลังจากนั้น คุณมี
                สิทธิที่จะถอนความยินยอมเมื่อใดก็ได้ตลอดเวลา</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-4">สิทธิขอเข้าถึงข้อมูล (right to access) คุณมีสิทธิขอเข้าถึงข้อมูลส่วนบุคคลของคุณที่อยู่ในความรับผิดชอบของเราและขอให้เรา
                ทำสำเนาข้อมูลดังกล่าวให้แก่คุณ รวมถึงขอให้เราเปิดเผยว่าเราได้ข้อมูลส่วนบุคคลของคุณมาได้อย่างไร</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-4">สิทธิขอถ่ายโอนข้อมูล (right to data portability) คุณมีสิทธิขอรับข้อมูลส่วนบุคคลของคุณในกรณีที่เราได้จัดทำข้อมูลส่วน
                บุคคลนั้นอยู่ในรูปแบบให้สามารถอ่านหรือใช้งานได้ด้วยเครื่องมือหรืออุปกรณ์ที่ทำงานได้โดยอัโนมัติและสามารถใช้หรือเปิดเผย
                ข้อมูลส่วนบุคคลได้ด้วยวิธีการอัตโนมัติ รวมทั้งมีสิทธิขอให้เราส่งหรือโอนข้อมูลส่วนบุคคลในรูปแบบดังกล่าวไปยังผู้ควบคุมข้อมูล
                ส่วนบุคคลอื่นเมื่อสามารถทำได้ด้วยวิธีการอัตโนมัติ และมีสิทธิขอรับข้อมูลส่วนบุคคลที่เราส่งหรือโอนข้อมูลส่วนบุคคลในรูปแบบดัง
                กล่าวไปยังผู้ควบคุมข้อมูลส่วนบุคคลอื่นโดยตรง เว้นแต่ไม่สามารถดำเนินการได้เพราะเหตุทางเทคนิค</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-4">สิทธิขอคัดค้าน (right to object) คุณมีสิทธิขอคัดค้านการเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคลของคุณในเวลาใดก็ได้
                หากการเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคลของคุณที่ทำขึ้นเพื่อการดำเนินงานที่จำเป็นภายใต้ประโยชน์โดยชอบด้วย
                กฎหมายของเราหรือของบุคคลหรือนิติบุคคลอื่น โดยไม่เกินขอบเขตที่คุณสามารถคาดหมายได้อย่างสมเหตุสมผลหรือเพื่อดำเนิน
                การตามภารกิจเพื่อสาธารณประโยชน์</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-4">สิทธิขอให้ลบหรือทำลายข้อมูล (right to erasure/destruction) คุณมีสิทธิขอลบหรือทำลายข้อมูลส่วนบุคคลของคุณหรือทำให้
                ข้อมูลส่วนบุคคลเป็นข้อมูลที่ไม่สามารถระบุตัวคุณได้ หากคุณเชื่อว่าข้อมูลส่วนบุคคลของคุณถูกเก็บรวบรวม ใช้ หรือเปิดเผยโดยไม่
                ชอบด้วยกฎหมายที่เกี่ยวข้องหรือเห็นว่าเราหมดความจำเป็นในการเก็บรักษาไว้ตามวัตถุประสงค์ที่เกี่ยวข้องในนโยบายฉบับนี้ หรือ
                เมื่อคุณได้ใช้สิทธิขอถอนความยินยอมหรือใช้สิทธิขอคัดค้านตามที่แจ้งไว้ข้างต้นแล้ว1</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-4">สิทธิขอให้ระงับการใช้ข้อมูล (right to restriction of processing) คุณมีสิทธิขอให้ระงับการใช้ข้อมูลส่วนบุคคลชั่วคราวในกรณี
                ที่เราอยู่ระหว่างตรวจสอบตามคำร้องขอใช้สิทธิขอแก้ไขข้อมูลส่วนบุคคลหรือขอคัดค้านของคุณหรือกรณีอื่นใดที่เราหมดความ
                จำเป็นและต้องลบหรือทำลายข้อมูลส่วนบุคคลของคุณตามกฎหมายที่เกี่ยวข้องแต่คุณขอให้เราระงับการใช้แทน</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-4">สิทธิขอให้แก้ไขข้อมูล (right to rectification) คุณมีสิทธิขอแก้ไขข้อมูลส่วนบุคคลของคุณให้ถูกต้อง เป็นปัจจุบัน สมบูรณ์ และ
                ไม่ก่อให้เกิดความเข้าใจผิด</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-4">สิทธิร้องเรียน (right to lodge a complaint) คุณมีสิทธิร้องเรียนต่อผู้มีอำนาจตามกฎหมายที่เกี่ยวข้อง หากคุณเชื่อว่าการเก็บ
                รวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคลของคุณ เป็นการกระทำในลักษณะที่ฝ่าฝืนหรือไม่ปฏิบัติตามกฎหมายที่เกี่ยวข้อง</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-4">คุณสามารถใช้สิทธิของคุณในฐานะเจ้าของข้อมูลส่วนบุคคลข้างต้นได้ โดยติดต่อมาที่เจ้าหน้าที่คุ้มครองข้อมูลส่วนบุคคลของเรา
                ตามรายละเอียดท้ายนโยบายนี้ เราจะแจ้งผลการดำเนินการภายในระยะเวลา 30 วัน นับแต่วันที่เราได้รับคำขอใช้สิทธิจากคุณ ตาม
                แบบฟอร์มหรือวิธีการที่เรากำหนด ทั้งนี้ หากเราปฏิเสธคำขอเราจะแจ้งเหตุผลของการปฏิเสธให้คุณทราบผ่านช่องทางต่าง ๆ เช่น
                ข้อความ (SMS) อีเมล โทรศัพท์ จดหมาย เป็นต้น</h3>
            <h3 class="text-[#FFFFFFF] font-semibold  text-2xl my-6">เทคโนโลยีติดตามตัวบุคคล (Cookies)</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-4">
                เพื่อเพิ่มประสบการณ์การใช้งานของคุณให้สมบูรณ์และมีประสิทธิภาพมากขึ้น เราใช้คุกกี้ (Cookies)หรือเทคโนโลยีที่คล้ายคลึงกัน
                เพื่อพัฒนาการเข้าถึงสินค้าหรือบริการ โฆษณาที่เหมาะสม และติดตามการใช้งานของคุณ เราใช้คุกกี้เพื่อระบุและติดตามผู้ใช้งาน
                เว็บไซต์และการเข้าถึงเว็บไซต์ของเรา หากคุณไม่ต้องการให้มีคุกกี้ไว้ในคอมพิวเตอร์ของคุณ คุณสามารถตั้งค่าบราวเซอร์เพื่อ
                ปฏิเสธคุกกี้ก่อนที่จะใช้เว็บไซต์ของเราได้</h3>
            <h3 class="text-[#FFFFFFF] font-semibold  text-2xl my-6">การรักษาความมั่งคงปลอดภัยของข้อมูลส่วนบุคคล</h3>

            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-4">เราจะรักษาความมั่นคงปลอดภัยของข้อมูลส่วนบุคคลของคุณไว้ตามหลักการ การรักษาความลับ (confidentiality) ความถูกต้อง
                ครบถ้วน (integrity) และสภาพพร้อมใช้งาน (availability) ทั้งนี้ เพื่อป้องกันการสูญหาย เข้าถึง ใช้ เปลี่ยนแปลง แก้ไข หรือเปิดเผย
                นอกจากนี้เราจะจัดให้มีมาตรการรักษาความมั่นคงปลอดภัยของข้อมูลส่วนบุคคล ซึ่งครอบคลุมถึงมาตรการป้องกันด้านการบริหาร
                จัดการ (administrative safeguard) มาตรการป้องกันด้านเทคนิค (technical safeguard) และมาตรการป้องกันทางกายภาพ
                (physical safeguard) ในเรื่องการเข้าถึงหรือควบคุมการใช้งานข้อมูลส่วนบุคคล (access control)</h3>
            <h3 class="text-[#FFFFFFF] font-semibold  text-2xl my-6">การแจ้งเหตุละเมิดข้อมูลส่วนบุคคล</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-4">ในกรณีที่มีเหตุละเมิดข้อมูลส่วนบุคคลของคุณเกิดขึ้น เราจะแจ้งให้สำนักงานคณะกรรมการคุ้มครองข้อมูลส่วนบุคคลทราบโดยไม่
                ชักช้าภายใน 72 ชั่วโมง นับแต่ทราบเหตุเท่าที่สามารถกระทำได้ ในกรณีที่การละเมิดมีความเสี่ยงสูงที่จะมีผลกระทบต่อสิทธิและ
                เสรีภาพของคุณ เราจะแจ้งการละเมิดให้คุณทราบพร้อมกับแนวทางการเยียวยาโดยไม่ชักช้าผ่านช่องทางต่าง ๆ เช่น เว็บไซต์
                ข้อความ (SMS) อีเมล โทรศัพท์ จดหมาย เป็นต้น</h3>
            <h3 class="text-[#FFFFFFF] font-semibold  text-2xl my-6">การแก้ไขเปลี่ยนแปลงนโยบายความเป็นส่วนตัว</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-4">เราอาจแก้ไขเปลี่ยนแปลงนโยบายนี้ป็นครั้งคราว โดยคุณสามารถทราบข้อกำหนดและเงื่อนไขนโยบายที่มีการแก้ไขเปลี่ยนแปลงนี้
                ได้ผ่านทางเว็บไซต์ของเรา</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-4">นโยบายนี้แก้ไขล่าสุดและมีผลใช้บังคับตั้งแต่วันที่ 06 ธันวาคม 2566</h3>

            <h3 class="text-[#FFFFFFF] font-semibold  text-2xl my-6">นโยบายความเป็นส่วนตัวของเว็บไซต์อื่น</h3>
            
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-4">นโยบายความเป็นส่วนตัวฉบับนี้ใช้สำหรับการเสนอสินค้า บริการ และการใช้งานบนเว็บไซต์สำหรับลูกค้าของเราเท่านั้น หากคุณ
                เข้าชมเว็บไซต์อื่นแม้จะผ่านช่องทางเว็บไซของเรา การคุ้มครองข้อมูลส่วนบุคคลต่าง ๆ จะเป็นไปตามนโยบายความเป็นส่วนตัว
                ของเว็บไซต์นั้น ซึ่งเราไม่มีส่วนเกี่ยวข้องด้วย</h3>
            <h3 class="text-[#FFFFFFF] font-semibold  text-2xl my-6">รายละเอียดการติดต่อ</h3>
            
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-4">หากคุณต้องการสอบถามข้อมูลเกี่ยวกับนโยบายความเป็นส่วนตัวฉบับนี้ รวมถึงการขอใช้สิทธิต่าง ๆ คุณสามารถติดต่อเราหรือ
                เจ้าหน้าที่คุ้มครองข้อมูลส่วนบุคคลของเราได้ ดังนี้</h3>
            <h3 class="text-[#FFFFFFF] font-semibold  text-2xl my-6">ผู้ควบคุมข้อมูลส่วนบุคคล</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">บริษัท เซนด์ เดลิเวอรี่</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">117 หมู่ 3 น้ำคำ เมืองศรีสะเกษ ศรีสะเกษ 33000</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">อีเมล support&#64;sendgood.online</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">เว็บไซต์ https://app.sendgood.online/</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">หมายเลขโทรศัพท์ 09269953544</h3>
            <h3 class="text-[#FFFFFFF] font-semibold  text-2xl my-6">เจ้าหน้าที่คุ้มครองข้อมูลส่วนบุคคล</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">ธีระศักดิ์ ทองปัญญา</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">117 หมู่ 3 น้ำคำ เมืองศรีสะเกษ ศรีสะเกษ 33000</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">เว็บไซต์ https://app.sendgood.online/</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">หมายเลขโทรศัพท์ 09269953544</h3>
        </div>
    </div>

}@else if (policyTxt == "EN") {
    <div class="flex flex-col w-full">
        <div class="flex flex-col mx-10 mt-20">
            <h3 class="text-[#FFFFFFF] font-semibold text-2xl my-6">Privacy Policy for Customer</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-lg">SEND DELIVERY Co., Ltd. recognizes the importance of the protection of your personal data. This Privacy Policy
                explains our practices regarding the collection, use or disclosure of personal data including other rights of the Data
                Subjects in accordance with the Personal Data Protection Laws.</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-2xl my-6">Collection of Personal Data</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-lg">We will collect your personal data that receive directly from you as following:</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">ㆍ your account registration</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">ㆍ telephone</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">ㆍ email address</h3>
            <h3 class="text-[#FFFFFFF] font-semibold  text-2xl my-6"> Types of Data Collected</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">Personal data such as name, surname, age, date of birth, nationality, identification card, passport, etc.
                Contact information such as address, telephone number, e-mail address, etc.</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">Account details such as username, password, transactions history, etc.</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">Proof of identity such as copy of identification card, copy of passport, etc.</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">Transaction and Financial information such as purchase history, credit card details, bank account, etc.</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">Technical data such as IP address, Cookie ID, Activity Log, etc.</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">Other such as photo, video, and other information that is considered personal data under the Personal Data
                Protection Laws.</h3>
            <h3 class="text-[#FFFFFFF] font-semibold  text-2xl my-6"> Children</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">If you are under the age of 20 or having legal restrictions, we may collect use or disclose your personal data. We
                require your parents or guardian to be aware and provide consent to us or allowed by applicable laws. If we become
                aware that we have collected personal data from children without verification of parental consent, we take steps to
                remove that information from our servers.</h3>
            <h3 class="text-[#FFFFFFF] font-semibold  text-2xl my-6">Storage of Data</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">We store your personal data as hard copy and soft copy.</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">We store your personal data by using the following systems:</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">ㆍ Third-party server service providers outside of Thailand</h3>
            <h3 class="text-[#FFFFFFF] font-semibold  text-2xl my-6">Use of Data</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">We use the collected data for various purposes:</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">ㆍTo create and manage accounts</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">ㆍTo provide products or services</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">ㆍTo improve products, services, or user experiences</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">ㆍTo share and manage information within organization</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">ㆍTo conduct marketing activities and promotions</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">ㆍTo provide after-sales services</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">ㆍTo gather user's feedback</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">ㆍTo process payments of products or services</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">ㆍTo comply with our Terms and Conditions</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">ㆍTo comply with laws, rules, and regulatory authorities</h3>
            <h3 class="text-[#FFFFFFF] font-semibold  text-2xl my-6">Disclosure of Personal Data</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2"> We may disclose your personal data to the following parties in certain circumstances:</h3>
            <h3 class="text-[#FFFFFFF] font-semibold  text-2xl my-6">Service Providers</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">We may use service providers to help us provide our services such as payments, marketing and development of
                products or services. Please note that service providers have their own privacy policy.</h3>
            <h3 class="text-[#FFFFFFF] font-semibold  text-2xl my-6">Data Retention</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">We will retain your personal data for as long as necessary during the period you are a customer or under
                relationship with us, or for as long as necessary in connection with the purposes set out in this Privacy Policy,
                unless law requires or permits a longer retention period. We will erase, destroy or anonymize your personal data
                when it is no longer necessary or when the period lapses.</h3>
            <h3 class="text-[#FFFFFFF] font-semibold  text-2xl my-6">Data Subject Rights</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">Subject to the Personal Data Protection Laws thereof, you may exercise any of these rights in the following:</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-4">Withdrawal of consent: If you have given consent to us to collect, use or disclose your personal data whether
                before or after the effective date of the Personal Data Protection Laws, you have the right to withdraw such
                consent at any time throughout the period your personal data available to us, unless it is restricted by laws or you
                are still under beneficial contract.</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-4">Data access: You have the right to access your personal data that is under our responsibility; to request us to make
                a copy of such data for you; and to request us to reveal as to how we obtain your personal data.</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-4">Data portability: You have the right to obtain your personal data if we organize such personal data in automatic
                machine-readable or usable format and can be processed or disclosed by automatic means; to request us to send
                or transfer the personal data in such format directly to other data controllers if doable by automatic means; and to
                request to obtain the personal data in such format sent or transferred by us directly to other data controller unless
                not technically feasible.</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-4">Objection: You have the right to object to collection, use or disclosure of your personal data at any time if such
                doing is conducted for legitimate interests of us, corporation or individual which is within your reasonable
                expectation; or for carrying out public tasks.</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-4">Data erasure or destruction: You have the right to request us to erase, destroy or anonymize your personal data if
                you believe that the collection, use or disclosure of your personal data is against relevant laws; or retention of the
                data by us is no longer necessary in connection with related purposes under this Privacy Policy; or when you
                request to withdraw your consent or to object to the processing as earlier described.</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-4">Suspension: You have the right to request us to suspend processing your personal data during the period where we
                examine your rectification or objection request; or when it is no longer necessary and we must erase or destroy
                your personal data pursuant to relevant laws but you instead request us to suspend the processing.</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-4">Rectification: You have the right to rectify your personal data to be updated, complete and not misleading.</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-4">Complaint lodging: You have the right to complain to competent authorities pursuant to relevant laws if you believe
                that the collection, use or disclosure of your personal data is violating or not in compliance with relevant laws</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-4">You can exercise these rights as the Data Subject by contacting our Data Protection Officer as mentioned below.
                We will notify the result of your request within 30 days upon receipt of such request. If we deny the request, we will
                inform you of the reason via SMS, email address, telephone, registered mail (if applicable).</h3>
            <h3 class="text-[#FFFFFFF] font-semibold  text-2xl my-6">Cookies</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-4">To enrich and perfect your experience, we use cookies or similar technologies to display personalized content,
                appropriate advertising and store your preferences on your computer. We use cookies to identify and track visitors,
                their usage of our website and their website access preferences. If you do not wish to have cookies placed on your
                computer you should set their browsers to refuse cookies before using our website.</h3>
            <h3 class="text-[#FFFFFFF] font-semibold  text-2xl my-6">Data Security</h3>

            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-4">We endeavor to protect your personal data by establishing security measures in accordance with the principles of
                confidentiality, integrity, and availability to prevent loss, unauthorized or unlawful access, destruction, use,
                alteration, or disclosure including administrative safeguard, technical safeguard, physical safeguard and access
                controls.</h3>
            <h3 class="text-[#FFFFFFF] font-semibold  text-2xl my-6">Data Breach Notification</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-4">We will notify the Office of the Personal Data Protection Committee without delay and, where feasible, within 72
                hours after having become aware of it, unless such personal data breach is unlikely to result in a risk to the rights
                and freedoms of you. If the personal data breach is likely to result in a high risk to the rights and freedoms of you,
                we will also notify the personal data breach and the remedial measures to you without delay through our website,
                SMS, email address, telephone or registered mail (if applicable).</h3>
            <h3 class="text-[#FFFFFFF] font-semibold  text-2xl my-6">Changes to this Privacy Policy</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-4">We may change this Privacy Policy from time to time. Any changes of this Privacy Policy, we encourage you to
                frequently check on our website.</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-4">This Privacy Policy was last updated and effective on 6th December 2023</h3>

            <h3 class="text-[#FFFFFFF] font-semibold  text-2xl my-6">Links to Other Sites</h3>
            
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-4">The purpose of this Privacy Policy is to offer products or services and use of our website. Any websites from other
                domains found on our site is subject to their privacy policy which is not related to us.</h3>
            <h3 class="text-[#FFFFFFF] font-semibold  text-2xl my-6">Contact Information</h3>
            
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-4"> If you have any questions about this Privacy Policy or would like to exercise your rights, you can contact us by
                using the following details:</h3>
            <h3 class="text-[#FFFFFFF] font-semibold  text-2xl my-6">Data Controller</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">SEND DELIVERY Co., Ltd.</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">117 Moo 3, Nam Kham, Mueang Si Sa Ket, Si Sa Ket, 33000</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2"> support&#64;sendgood.online</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2"> https://app.sendgood.online/</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2"> 09269953544</h3>
            <h3 class="text-[#FFFFFFF] font-semibold  text-2xl my-6">Data Protection Officer</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">Theerasak Thongpanya</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2">117 Moo 3, Nam Kham, Mueang Si Sa Ket, Si Sa Ket, 33000</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2"> support&#64;sendgood.online</h3>
            <h3 class="text-[#FFFFFFF] font-semibold text-xl my-2"> https://app.sendgood.online/</h3>
        </div>
    </div>
}

<app-footer></app-footer>

<!-- <app-header></app-header>


<app-footer></app-footer> -->
